# Ignore binary
main

# Ignore dev dockerfile
docker

# Ignore config file
config.yaml*
!config.yaml.example

# Ignore TODO
TODO

# Ignore transports config files
transports/*
!transports/*example*

# Ignore list of containers
containers.json
