docker-guard:
  api:
    listen-interface: "0.0.0.0"
    listen-port: "8123"
    api-password: "changeme"
  sql-server:
    ip: 127.0.0.1
    port: 3306
    user: "dgs"
    pass: "dgs"
    db: "dgs"
  event:
    transports:
      -
        name: "slack"
        path: "./transports/slack.sh"
      -
        name: "log"
        path: "./transports/log.sh"
probes:
  -
    name: "probe1"
    uri: "http://127.0.0.1:80"
    api-password: "changeme"
    reload-time: 5
  -
    name: "probe2"
    uri: "https://127.0.0.1:443"
    api-password: "changeme"
    reload-time: 5
