docker-guard:
  sql-server:
    ip: 127.0.0.1
    port: 3306
    user: "dgs"
    pass: "dgs"
    db: "dgs"
probes:
  -
    ip-address: 127.0.0.1
    port: 8123
    api-password: "changeme"
    reload-time: 5
  -
    ip-address: 127.0.0.1
    port: 8123
    api-password: "changeme"
    reload-time: 5
